$navy: #192A51;
$purple: #967AA1;
$purple-light: #AAA1C8;
$purple-xlight: #D5C6E0;
$grey: #F2F2F2;
$grey-light: #F9F9F9;
$grey-dark: #D9D9D9;
$black: #000000;
$white: #F5E6E8;

:root {
  background-color: $white;
  color: $navy;
  font-family: CabinetGrotesk-Light, sans-serif;

}

* {
  cursor: none;
}